<%
var _default = json['default'];
for (var key in _default) {
	if (typeof page[key] === 'undefined') {
		page[key] = _default[key];
	}
}
-%>
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="<%= page['description'] %>">
	<link rel="stylesheet" href="<%= path %>/assets/css/style.css">
	<script type="text/javascript" src="<%= path %>/assets/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="<%= path %>/assets/js/minified.min.js"></script>
    <link rel="icon" type="image/x-icon" href="https://human.sankei.co.jp/favicon.ico">
	<title><%= page['title'] %><% if(page !== json['home']){ %>-<%= json['default']['title'] %><% } %></title>
    <script>
	(function(d) {
		var config = {
				kitId: 'pjz1shh',
				scriptTimeout: 3000,
				async: true
			},
			h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
	})(document);
    </script>
<!--    &lt;!&ndash; Google Tag Manager &ndash;&gt;-->
<!--    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':-->
<!--			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],-->
<!--		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=-->
<!--		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);-->
<!--	})(window,document,'script','dataLayer','GTM-M86ZGZ4');</script>-->
<!--    &lt;!&ndash; End Google Tag Manager &ndash;&gt;-->
</head>
<body>
<!--<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M86ZGZ4" height="0" width="0"-->
<!--                  style="display:none;visibility:hidden"></iframe></noscript>-->
